<footer>
    <h2>hey,footer</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolore. Officia debitis fuga ratione eveniet. Hic quaerat cum omnis, est odit, debitis tempore, eius ratione impedit ipsam ullam consectetur temporibus?</p>
</footer>