<nav>
    <h1>SOCIAL</h1>
    <div id="link-to-other-pages">
        <ul>
           <!-- <%%if(locals.user){%> -->
                <!-- <li> <a href="">Home</a></li>
                <li> <a href="">Profile</a></li> -->
            <!-- <%}else{%> -->
                <li> <a href="">SignIn</a></li>
                <li> <a href="">SignUP</a></li>
            <!-- <%}%> -->
        </ul>
    </div>

</nav>