<link rel="stylesheet" href="/css/header.css">

<nav>
    <h2>SOCIAL</h2>
   
    <ul  id="link-to-other-pages">
        
            <li> <a href="">SignIn</a></li>
            <li> <a href="">SignUp</a></li>
        
    </ul>
    

</nav>
