<link rel="stylesheet" href="./css/signUp.css">
<div id="signUp-container">
    <h1>Social</h1>
    <div id="create-account">
        <h3>Create a new account</h3>
        <form action="/create-account" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" required >
            <input type="email" name="email" placeholder="Enter Your Email" required >
            <input type="password" name="password" placeholder="Enter Your password" required > 
            <input type="password" name="confirm-password" placeholder="confirm Your password" required >
            <input type="submit" value="Sign Up">
             </form>
           
        
        
        <div class="passport-auth">
        <p>------------------ or ------------------</p>
        <a class="google" href="/auth/google"><p> Google</p></a>
        </p>
            
        <a class="github" href="/auth/github"><p> Github</p></a>
        </p>
        </div>  
    
            
    </div>

</div>