<h1><%=title%></h1>
<div id="create-account">
    <h4>Create a new account</h4>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Enter Your Name" >
        <input type="email" name="email" placeholder="Enter Your Email" >
        <input type="password" name="password" placeholder="Enter Your password" >
        <input type="password" name="confirm-password" placeholder="confirm Your password" >
        <input type="button" value="Sign In">
    </form>
</div>